{% extends 'gestion_blog/front.html.twig' %}
{% block title %}Aidme Blog{% endblock %}
{% block body %}  
    <button class="btn btn-dark w-100 py-3">
    <a href="{{ path('app_article_new') }}">Ajouter un nouveau Article</a>
    </button>
    <!-- Blog Start -->
    <div class="container-fluid py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <!-- Blog list Start -->
                <div class="col-lg-8">
                    <div class="row g-5">
                        {% for article in articles %}
                        <div class="col-md-6 wow slideInUp" data-wow-delay="0.1s">
                            <div class="blog-item bg-light rounded overflow-hidden">
                                <div class="blog-img position-relative overflow-hidden">
                                
                                    <img class="img-fluid" src="{{asset('uploads/images/' ~ article.image)}}" alt="" >
                                </div>
                                <div class="p-4">
                                    <div class="d-flex mb-3">
                                        <small class="me-3"><i class="far fa-user text-primary me-2"></i>{{ article.userId }}</small>
                                        <small><i class="far fa-calendar-alt text-primary me-2"></i>{{ article.createdAt ? article.createdAt|date('d-m-Y H:i:s') : '' }}</small>
                                         
                                    </div>
                                                                        <small><i class="bi bi-eye-fill"> {{ article.getViews() }}</i></small>

                                    <h4 class="mb-4">{{ article.sujet }}</h4>
                                    <p>{{  article.contenu|length > 60 ? article.contenu|slice(0, 60) ~ '...' : article.contenu  }}</p>
                                    <a class="h5 fw-semi-bold bg-light rounded py-2 px-3 mb-2" href="{{ path('app_article_show', {'id': article.id}) }}">En savoir plus <i class="bi bi-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <tr><td colspan="6">Il y'a aucun article publié</td></tr>
                        {% endfor %}
                        {{ knp_pagination_render(articles) }}
                    </div>
                </div>
                <!-- Blog list End -->
                <!-- Sidebar Start -->
                <div class="col-lg-4">

                    <!-- Recent Post Start -->
                    <div class="section-title section-title-sm position-relative pb-3 mb-4">
                            <h3 class="mb-0">Top Views Articles</h3>
                        </div>
                    {% for Bestarticle in Bestarticles %}
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s"> 
                        <div class="d-flex rounded overflow-hidden mb-3">
                            <img class="img-fluid" src="{{asset('uploads/images/' ~ Bestarticle.image)}}" style="width: 100px; height: 100px; object-fit: cover;" alt="">
                            <a href="{{ path('app_article_show', {'id': Bestarticle.id}) }}" class="h5 fw-semi-bold d-flex align-items-center bg-light px-3 mb-0"> {{ Bestarticle.sujet }}
                            </a>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Recent Post End -->
                    <!-- Image Start -->
                    <div class="mb-5 wow slideInUp" data-wow-delay="0.1s">
                        <img src="{{asset('img/blog-1.jpg')}}" alt="" class="img-fluid rounded">
                    </div>
                    <!-- Image End -->

                </div>
                <!-- Sidebar End -->
            </div>
        </div>
    </div>
    <!-- Blog End -->
{% endblock %}
