{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Password</th>
                <th>Image</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Speciality</th>
                <th>Licence</th>
                <th>Location</th>
                <th>PhoneNumber</th>
                <th>DateOfBirth</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Gender</th>
                <th>Last_login</th>
                <th>Updated_at</th>
                <th>Extra1_rdv</th>
                <th>Age</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.image }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.speciality }}</td>
                <td>{{ user.licence }}</td>
                <td>{{ user.location }}</td>
                <td>{{ user.phoneNumber }}</td>
                <td>{{ user.dateOfBirth ? user.dateOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ user.status }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d') : '' }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.lastLogin }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d') : '' }}</td>
                <td>{{ user.extra1Rdv }}</td>
                <td>{{ user.age }}</td>
                <td>
                    <a href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="20">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_new') }}">Create new</a>
{% endblock %}
